---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Contact">
  <div class="w-[50%] mx-auto mt-20">
    <h1 class="text-3xl font-semibold uppercase">how to find us.</h1>
    <p class="w-2/5 mt-5 ml-20 text-gray-600">Have a project you're interested in discussing with us?
                                              Drop us a line below, we'd love to talk.</p>
  </div>
  <div class="flex w-[50%] mx-auto justify-center">
    <div class="flex justify-center">
      <div class="flex flex-col">
        <p>Call Us</p>
        <p>+40 722 202 995</p>
      </div>
    </div>
  </div>
</MainLayout>