<div class="w-full h-[10%] bg-gray-900 sticky bottom-0 left-0 flex justify-center">
  <div class="w-[70%] flex justify-between">
    <ul
      class="ml-20 text-medium md:text-xl flex p-4 mt-4 md:space-x-8 justify-start
    rtl:space-x-reverse  md:border-0 dark:border-gray-700 w-[45%]">
      <li>
        <a href="/"
           class="nav-link">Home</a>
      </li>
      <li>
        <a href="/about"
           class="nav-link">About</a>
      </li>
      <li>
        <a href="/services"
           class="nav-link">Services</a>
      </li>
      <li>
        <a href="/pricing"
           class="nav-link">Pricing</a>
      </li>
      <li>
        <a href="/contact"
           class="nav-link">Contact</a>
      </li>
    </ul>
    <ul
      class="ml-12 text-medium md:text-xl flex p-4 mt-4 md:space-x-8 justify-end
    rtl:space-x-reverse  md:border-0 dark:border-gray-700 w-[45%]">
      <li>
        <a href=""
           class="nav-link"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/RaulBociortAtelierDeArhitecturaSiDesign/"
           class="nav-link"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="/services"
           class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>