<div class="showcase sm:hidden md:block rounded">
  <div id="default-carousel" class="mt-10 w-[55%] mx-auto shadow-2xl relative" data-carousel="slide">
    <div class="info-panel">
      <h1 class="md:text-2xl">Raul Bociort | Architecture Cabinet</h1>
      <p class="lg:text-md sm:text-sm">Intuition is fucking important.
                                       Creativity requires fucking tenacity.
                                       Most of your accomplishments will be demonstrations of tenacity, not talent.
                                       Make work that fucking
                                       matters.</p>
      <button class="border-2 border-solid border-black p-2 mt-2 hover:text-white hover:bg-gray-900">Afla mai multe</button>
    </div>
    <div class="relative h-96 overflow-hidden rounded md:h-96">
      <div class="duration-700 ease-in-out" data-carousel-item>
        <img src="/img/1.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="/img/2.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="/img/3.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="/img/4.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="/img/5.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
    </div>
  </div>
</div>